---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Contato" id="contact">
  <Fragment slot="lead">
    Gostou da <span class="text-primary">CEOS</span>?{" "}<br />
    Entre em contato conosco por meio das <span class="text-primary">redes</span
    > e solicite seu <span class="text-primary">orçamento</span>
  </Fragment>
  <form
    class="flex flex-col gap-y-4 justify-center p-4 w-full max-w-4xl rounded-lg border-2 border-current"
  >
    <label for="name">Nome</label>
    <input
      type="text"
      id="name"
      class="block p-2.5 w-full text-sm rounded-lg border border-current dark:text-black focus:ring-primary focus:border-primary"
      placeholder="Mr Fisch"
      required
    />
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      class="block p-2.5 w-full text-sm rounded-lg border border-current dark:text-black focus:ring-primary focus:border-primary"
      placeholder="mrfisch@flemis.com"
      required
    />
    <label for="message">Mensagem</label>
    <textarea
      id="message"
      class="block p-2.5 w-full text-sm rounded-lg border border-current dark:text-black focus:ring-primary focus:border-primary"
      placeholder="Bom dia, gostei muito da CEOS e gostaria de solicitar um orçamento"
      required></textarea>
    <button
      class="self-center p-2 w-full max-w-xs text-white rounded-lg sm:w-1/4 btn-poggers"
      >Enviar</button
    >
  </form>
</ContentSection>
