---
import ContentSection from "./content-section.astro";
---

<ContentSection title="Contato" id="contact">
  <Fragment slot="lead">
    Gostou da <span class="text-primary">CEOS</span>?{" "}<br/>
    Entre em contato conosco por meio das <span class="text-primary">redes</span> e solicite seu <span class="text-primary">orçamento</span>
  </Fragment>
  <form class="w-full max-w-4xl flex flex-col rounded-lg border-current border-2  justify-center gap-y-4 p-4">
    <label for="name">Nome</label>
    <input type="text" id="name" class="text-sm border border-current rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="Mr Fisch" required/>
    <label for="email">Email</label>
    <input type="email" id="email" class="text-sm border border-current rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="mrfisch@flemis.com" required/>
    <label for="message">Mensagem</label>
    <textarea  id="message" class="text-sm border border-current rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5" placeholder="Bom dia, gostei muito da CEOS e gostaria de solicitar um orçamento" required/>
    <button class="text-white rounded-lg btn-poggers w-full sm:w-1/4 max-w-xs p-2 self-center">Enviar</button>
  </form>

</ContentSection>
