---
import ContentSection from "./content-section.astro";
import ProjectCard from "./projects-card.astro";
import AmazonImg from "../data/showcase/images/amazon.png";
import FacebookImg from "../data/showcase/images/facebook.webp";
import TwitchImg from "../data/showcase/images/twitch.png";
import FirebaseImg from "../data/showcase/images/firebase-blog.png";
import SpotifyImg from "../data/showcase/images/spotify.jpg";
import MrFischImg from "../data/showcase/images/mrfisch.png";
const projects = [
  {
    "title": "Amazon",
    "image": AmazonImg, 
    "url": "https://amazon.com/"
  },
  {
    "title": "Facebook",
    "image": FacebookImg,
    "url": "https://www.facebook.com/"
  },
  {
    "title": "Twitch",
    "image": TwitchImg,
    "url": "https://www.twitch.tv/"
  },
  {
    "title": "Spotify",
    "image": SpotifyImg,
    "url": "https://www.spotify.com/"
  },
  {
    "title": "The Firebase Blog",
    "image": FirebaseImg,
    "url": "https://www.firebase.blog/"
  },
  {
    "title": "Mr Fisch",
    "image": MrFischImg,
    "url": "https://mrfisch.flemis.xyz/"
  }
]

---

<ContentSection title="Projetos" id="projects">
  <Fragment slot="lead">
    Projetos <span class="text-primary">reais</span>. Aplicações <span
      class="text-primary">reais</span
    >.
    <br />
    Explore os <span class="text-primary">últimos projetos {" "}</span>da CEOS.
  </Fragment>
  <div class="w-full lg:max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        projects.map(({ title, image, url }) => (
          <ProjectCard title={title} image={image} url={url} />
        ))
      }
    </div>
    <p class="text-sm text-right">
      <a class="text-primary" href="/allprojects"> ...e muito mais &rarr;</a>
    </p>
  </div>
</ContentSection>
