---
import { Picture } from "@astrojs/image/components";
import Starfield from "./starfield.astro";
import CeosLogo from "../../public/ceoslogo.png";
---

<section class="relative h-full bg-white">
  <Starfield />
  <div class="relative grid sm:grid-cols-2 place-items-center h-full">
    <Picture
      src={CeosLogo}
      widths={[200, 400]}
      sizes="(max-width: 800px) 30vw, 200px"
      aspectRatio="1:1"
      alt="CEOS logo"
    />
    <h2 class="flex flex-col items-center justify-center gap-y-10 font-sans">
      <div
        class="font-extrabold tracking-tighter text-center text-8xl gradient-text"
      >
        <span>CEOS</span>
        <br /> Onde o céu é o
        <br />
        Limite
        <span class="text-white">🚀</span>
      </div>
      <a
        href="#contact"
        class="btn-poggers rounded-full p-4 text-white hover:text-white"
      >
        <button>Quero fazer um orçamento!</button>
      </a>
    </h2>
  </div>
</section>

<style>
 span{
  font-family: "aassassinninjaregular"
}

  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  picture {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    picture {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }
  }
</style>
